@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* font-family: 'Poppins', sans-serif; */
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #000;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.title-1 {
  font-size: 34px;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 7px 22px;
  border-radius: 30px;
  background-color: #070707;
  font-size: 18px;
  color: #f1f1f1;
  transition: box-shadow 0.2s ease, top 0.2s ease-in;
}
.btn:hover {
  box-shadow: 0px 0px 7px blue;
}
.btn:active {
  position: relative;
  top: 1px;
  background-color: #000;
}

/* header */
.header {
  padding-top: 46px;
  background-color: #f1f1f1;
  /* header content */
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 76px;
}
.header__row {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header__content {
  max-width: 500px;
  margin-top: 124px;
}
.header__content p {
  line-height: 2;
}
.header__title {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 20px;
}
.header__img {
  max-width: 494px;
  height: auto;
}
.header__img img {
  width: 100%;
  height: 100%;
}

.logo {
  display: block;
  position: relative;
  padding: 0 12px 3px 0;
  font-weight: 700;
  font-size: 32px;
  color: #000;
}
.logo::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 8px;
  height: 8px;
  background-color: #fda300;
  border-radius: 50%;
}

.nav__list {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.nav__button {
  display: none;
}
.nav__link {
  color: #000;
}
.nav__link.active {
  color: #606060;
}

/* services */
.services {
  padding: 90px 0;
}
.services__row {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 60px;
}

.services-card {
  flex: 1 1 0;
  min-width: 315px;
}
.services-card p {
  line-height: 2;
}
.services-card__img {
  margin-bottom: 30px;
}
.services-card__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* portfolio */
.portfolio {
  padding: 90px 0;
  background-color: #f1f1f1;
}
.portfolio__title {
  text-align: center;
  margin-bottom: 70px;
}

.project:not(:last-child) {
  margin-bottom: 90px;
}
.project__img {
  margin: 0 auto;
  max-width: 930px;
  margin-bottom: 40px;
}
.project__img img {
  width: 100%;
  height: 100%;
}
.project__title {
  text-align: center;
  font-size: 18px;
}
.project__title a {
  color: #000;
  text-decoration: underline;
}
.project__title a:hover {
  color: blue;
}

/* contacts */
.contacts {
  padding: 90px 0;
  text-align: center;
}
.contacts__title {
  margin-bottom: 40px;
}
.contacts__content {
  max-width: 480px;
  margin: 0 auto 40px auto;
  font-size: 18px;
}
.contacts__content p + p {
  margin-top: 1em;
}
.contacts__button {
  margin-bottom: 80px;
}
.contacts__social {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin-bottom: 40px;
}
.contacts__footer {
  color: #828282;
}